

.h1, h1 {
    font-size: 76px;
    margin-top:48px;
}

.h2, h2 {
    margin: 7px 0 0 0;
    font-weight: bold;
}

.h3, h3 {
    font-weight: bold;
}

.h4, h4 {
    font-size: 20px;
    margin: 0 0 8px 0;
}

.main-line {
    background-color: #00b3b3;
    padding: 3px 0;
    margin-bottom: 43px;
}
.secondary-line{
    background-color: #00b3b3;
    padding: 2px 0;
    margin-bottom: 9px;
}

.main-p {
    color: #939393;
    line-height: 1.5;
    letter-spacing: .5px;
}
.side-p{
    margin: 61px 0 0 0;
}

.blue{
    color:#00b3b3;
}

form {
    clear: left;
}

.scrnshot {
    height: 100%;
    width: 100%;
}

.nav {
    float: right;
}

ul .main-nav {
    font-weight: bold;
    font-size: 20px;
}

.main-link {
    color:  #001a1a;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #00b3b3;
    font-style:italic;
    background-color: white;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}

.nav a:focus, .nav a:hover {
    color: #00b3b3;
    font-style: italic;
}

.save-button{
    background-color: #00b3b3;
    border: none;
    color: white;
    padding: 4px 27px;
    margin: 12px 0 20px;
}

.goal-list{
    list-style: none;
    padding: 0;
}

.contact-footer{
    color:white;
    background-color:#00b3b3;
    padding:45px 0;
    margin-top: 45px;
}
.footer-links{
    color:white;
    font-weight: bold;
    font-size:17px;
    margin: 0 32px;
}
.footer-ul{
    list-style: none;
}

.footer-ul li{
    float:left;
}

.footer-ul a:focus, .footer-ul a:hover {
    color: black;
    font-style: italic;
    text-decoration: none;
}

.footer-ul ul li{
    display:inline;
}

.vertical
{
    border-left: thick solid red;

}